// Tablets & Smaller
@media (max-width: 800px) {
  #header-home {
    height: 30rem;

    .header-content {
      padding-top: 5rem;
    }
    ul#flex-contact {
      .white-text {
        color: #fff;
      }
      align-items: center;
      i {
        display: none;
      }
    }
    #image-link {
      &:hover {
        //   transform: rotate(180deg);
        transform: none;
      }
    }
  }

  #home-about {
    &-a {
      .priorities {
        grid-template-columns: 1fr;
      }
    }
    &-b {
      ul {
        grid-template-columns: repeat(3, 1fr) !important;
      }
    }
  }
}

// Smartphones
@media (max-width: 700px) {
  body {
    #main-nav {
      .nav-links {
        // background: red !important;
        // opacity: 1 !important;
        background: rgba($color: $dark-color, $alpha: 0.95);
      }
    }
    overflow-x: hidden;
  }
  #main-nav {
    #image-link {
      &:hover {
        //   transform: rotate(180deg);
        transform: none;
      }

      align-self: flex-start;
      margin-right: 3rem;
    }
    // flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }

    #flex-contact {
      display: none;
    }

    .nav-links {
      position: absolute;
      right: 0;
      height: 92vh;
      top: 73px;
      background: $dark-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      opacity: 1 !important;
      transform: translateX(100%);
      transition: all 0.5s ease;

      li {
        margin-bottom: 4rem;
        opacity: 0;
        a {
          color: #fff;
          font-size: 1.5rem;
        }
      }
    }
    .burger {
      display: block;
      cursor: pointer;
      &.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      &.toggle .line2 {
        opacity: 0;
      }
      &.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
    .nav-active {
      transform: translateX(0%);
      //   background: blue;
    }

    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translate(50px);
      }
      to {
        opacity: 1;
        transform: translate(0px);
      }
    }
  }

  #header {
    &-home {
      height: 10rem;
      border-bottom: 3px solid $main-color;

      .header-content {
        display: none;
      }
    }
  }

  #home {
    &-about {
      padding-bottom: 0;
      .container,
      .priorities {
        grid-template-columns: 1fr;
      }

      .container {
        padding-bottom: 0;

        border-bottom: 0;
        #home-about-a,
        #home-about-b {
          border: 0;
          padding: 0;
        }
        #home-about-a {
          display: none;
          border-bottom: 3px solid $main-color;
          padding-bottom: 1rem;
          .priorities {
            margin-top: 0;
            div {
              border-bottom: 1px solid $medium-color;
              padding-bottom: 1rem;

              &:last-child {
                border: none;
                padding-bottom: 0;
              }
            }
          }
        }
        #home-about-b {
          border-bottom: 3px solid $main-color;

          padding-top: 1rem;

          ul {
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
    }
    &-projects {
      .projects {
        grid-template-columns: 1fr;
      }
    }
  }

  // Contact
  #home-contact {
    .text-fields {
      div {
        width: 100%;
      }
    }

    button[type="submit"] {
      width: 50%;
    }
  }
  #home-contact2 {
    border-bottom: 1px solid #555;

    display: block;
    .contact-info {
      display: grid;
      grid-template-columns: 1fr;

      div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #555;

        &:last-child {
          border: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  // Footer
  #main-footer {
    height: 7rem;
    .footer-content {
      grid-template-columns: 1fr;
      background: $dark-color;
      height: 7rem;
      padding-top: 0.5rem;
      margin: 0;

      .copyright {
        display: none;
      }
      .social {
        // flex-direction: column;
        margin: 0 0 2rem 1.2rem;
        padding: 0;
        justify-content: center;
      }
    }
  }
}

// Landscape
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 5rem;
    }
    #image-link {
      &:hover {
        //   transform: rotate(180deg);
        transform: none;
      }
    }
  }
}

@media (max-height: 330px) {
  #header-home {
    .header-content {
      h1 {
        font-size: 2rem;
      }
    }
    .nav-links {
      li {
        margin-bottom: 0;
      }
    }
  }
}
