@import "config";
@import "utility";
@import "item_grid";

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 95px;
  color: #fff;
  text-transform: uppercase;
}

// Main Nav
#main-nav {
  z-index: 5;
  display: flex;
  justify-content: space-around;
  // padding-top: 1rem;
  padding: 0.5rem;
  // background: $dark-color;
  background: rgba($color: $dark-color, $alpha: 0.8);
  color: #fff;
  // opacity: 0.8;
  // width: $website-width;
  width: 100%;
  height: 57px;
  position: fixed;
  top: 0;
  left: 0;
  // padding: 0 30px;
  transition: 0.5s;

  #image-link {
    border-bottom: 0;

    &:hover {
      transform: rotate(180deg);
    }
  }

  ul {
    display: flex;
  }

  ul#flex-contact {
    // display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .flex-contact-items {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      padding: 0.15rem 0;

      .white-text {
        color: transparent;
      }
    }
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: all 0.5s;

    &#no-transform {
      text-transform: none;
      padding-bottom: 0.25rem;
    }
    &:hover {
      border-color: $main-color;
    }
  }

  .burger {
    display: none;
    div {
      height: 3px;
      width: 25px;
      background: #fff;
      margin: 5px;
    }
  }
}

#main-nav.top {
  background: transparent;
}

// Header
#header {
  // Header Home
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }

      span.animate {
        display: inline-block;
        transition: all 0.35s ease;

        &:hover {
          transform: scale(1.2);
          margin: 0 0.25rem;
          padding: 0 0.25rem;
          opacity: 0.85;
        }
      }

      .flex-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          margin: 0 2rem;
        }
      }
    }
  }

  // Header Inner
  &-inner {
  }
}

// Home Sections
#home {
  &-projects {
    .container {
      padding-bottom: 2rem;
      border-bottom: 3px solid $main-color;
    }
  }
  &-about {
    .container {
      padding-bottom: 2rem;
      border-bottom: 3px solid $main-color;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // grid-gap: 1rem;

      #home-about-a {
        border-right: 3px solid $main-color;
        padding-right: 3rem;
      }
      #home-about-b {
        // border-left: 2px solid $main-color;
        padding-left: 3rem;

        p {
          padding-bottom: 1rem;
        }
        ul {
          // display: flex;
          // justify-content: center;
          // align-items: center;
          li {
            // padding: 0.5rem;
          }
        }
        ul {
          padding: 1.5rem;
          width: 80%;
          display: grid;
          margin: auto;
          grid-template-columns: repeat(6, 1fr);
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        .btn-dark {
          margin-left: 0.5rem;
          padding: 0.4rem 0.8rem;
        }
      }
    }
    .priorities {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;

      .fa-2x {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }
  &-contact {
    .text-fields {
      div {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        gap: 0.5rem;

        .text-input {
          padding: 0.5rem 1rem;
          // border-radius: 2px;
          background: #333;
          border: none;
          color: #fff;

          font-family: Arial, Helvetica, sans-serif;
          &::placeholder {
            color: $medium-color;
            font-family: Arial, Helvetica, sans-serif;
          }
          &:focus {
            outline-color: $main-color;
            &::placeholder {
              // color: #333;
            }
          }
        }

        .message-input {
          height: 100px;
        }
      }

      div#recaptcha {
        display: grid;
        grid-template-columns: 1fr;
      }
    }

    button[type="submit"] {
      width: 25%;
    }
  }

  &-contact2 {
    display: none;
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &-tagline {
    text-align: center;
    font-size: 1.5rem;
    color: set-text-color($main-color);
  }
}

// Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    text-align: center;
    height: 5rem;

    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        color: #fff;
      }
      .fab {
        margin-right: 1rem;
        border: 2px #fff solid;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        padding: 0.5rem;
        transition: all 0.35s ease-in-out;

        &:hover {
          background: $light-color;
          transform: scale(1.2);
          color: set-text-color($light-color);
        }
      }
    }

    // .animate {
    //   transition: all 0.5s ease-out;
    //   &:hover {
    //     transform: rotate(360deg);
    //   }
    // }
    .copyright {
      display: flex;
      flex-direction: column;
      // justify-content: space-evenly;
      align-items: center;

      a {
        color: $light-color;

        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

// Import Media Queries
@import "media";
